# Entornos virtuales
.venv/
venv/
env/

# Archivos de entorno / secretos
.env
*.env.*
.env.local
.env.development
.env.production

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Editores y sistemas operativos
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs y temporales
*.log